.content {
    display: flex;
    padding: 8px 0px;
    min-width: 224px;

    .menu-item {
        margin-left: 0 !important;
        padding: 8px 8px 8px 16px;
    }
}

.separate {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #d4d3d3;
    }
}

.menu-transfer {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    margin-top: -8px;

    // &:hover {
    //     background-color: var(--hover-default);
    // }
}

.icon-wrapper {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    font-size: 1.8rem;
    background-color: transparent;
}

.icon-back {
    width: 20px;
    height: 20px;
}
