.wrapper {
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'TikTokFont', sans-serif;
    line-height: 24px;
    min-width: 100px;
    min-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--white);
    padding: 5px 8px;

    + .wrapper {
        margin-left: 16px;
    }
}

// Button styles

.outline {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background-color: var(--white);

    .icon-left {
        margin-right: 8px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--active);
    color: var(--white);
    border: 1px solid var(--active);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.large,
.outline {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.text {
    width: 100%;
    display: flex;
    font-weight: 500;

    .icon-right {
        flex: 1;
        text-align: end;
    }

    .title {
        color: var(--text-color);
        margin-left: 8px;
    }

    &:hover {
        background-color: var(--hover-default);
    }

    + .text {
        margin-left: 0;
    }
}

// Button size

.large {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;
    padding: 11px 16px;
    color: var(--active);
    border: 1px solid var(--active);
    min-width: 110px;
}

// Button action

.active {
    color: var(--active);
    border-color: var(--active);
    font-weight: 500;
}

// css icon

.icon {
    width: 20px;
    height: 20px;
    color: var(--icon-color-default);
}

.black > .icon-left {
    color: black;
}

.icon-left {
    margin-left: 4px;
}

.icon-left + .title {
    margin-right: 8px;
}

.icon-right {
    margin-right: 10px;
}

// css disabled

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
