.wrapper {
    display: flex;
    padding: 0 16px;
    margin-bottom: 10px;
    align-items: center;

    &:hover {
        background-color: var(--hover-default);
    }
}

.inner {
    margin-left: 10px;
}

.info {
    display: flex;
    align-items: center;

    h4 {
        margin-right: 6px;
    }
}

.img {
    display: block;
    height: 36px;
    width: 36px;
    object-fit: cover;
    background-color: transparent;
}
