.wrapper {
    // root
    --width-search: 500px;
    --height-search: 52px;
    --color-search-active: rgba(22, 24, 35, 0.75);

    height: var(--default-layout-height-header, 60px);
    // background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;

    .logo {
        display: flex;
        min-width: 300px;
    }
}

// action

.action {
    display: flex;
    align-items: center;
    // min-width: 300px;
}

.action-avata {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-left: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    cursor: pointer;
}

.icon-menu {
    padding: 0 4px;
    height: 20px;
    width: 20px;
    display: block;
}

.upload-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 8px;
}
